#profileImage
{
    cursor: grab;
}

#profile-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#userImage {
    width: 250px;
    height: 200px;
    background-image: url('images/default.jpg');
}

image:before {
  content: '';
  display: block;
  position: absolute;
  height: 350px;
  width: 300px;
  background-image: url('images/default.jpg');
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
